@charset "UTF-8";
body{
 margin:0px;
 padding:0px;
 font-size:11px;
 font-family: "맑은 고딕";
}
#top{
	background-color: #132c6f; 
	height:40px; 
	width: 100%;
	margin: 0 auto;
}
#logo-area{
	background-color: #ffffff;
	width: 100%;
	border: 1px solid #a8a8a8;
}

.menubar{
body{
 margin:0px;
 padding:0px;
 font-size:11px;
 font-family: "맑은 고딕";
}
#top{
	background-color: #1D2475; 
	height:40px; 
	width: 100%;
	margin: 0 auto;
}


.menubar{
border:none;
border:0px;
margin:0px;
padding:0px;
font: 67.5% "맑은 고딕";
font-size:15px;
width: 100%
}
.menubar img{
	height:50px; 
	width:auto;
	float: left;
	padding-left:30px
}

.menubar ul{
background: #FFFFFF;
height:50px;
list-style:none;
margin:0;
padding:0;
float: middle;

}

.menubar li{
float:left;
padding:0px;
}

.menubar li a{
background: #FFFFFF;
color:rgb(71,71,71);
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 35px;
text-align:center;
text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
background: #CCCCCC;
color:rgb(71,71,71);
text-decoration:none;
}

.menubar li ul{
background: #FFFFFF;
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
/*top:1em;
/*left:0;*/
}

.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
background: #FFFFFF;
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menubar li:hover li a{
background:none;
}

.menubar li ul a{
display:block;
height:50px;
font-size:13px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background: #CCCCCC;
border:0px;
color:#ffffff;
text-decoration:none;
}

.menubar p{
clear:left;
}


*{margin:0;padding:0;}
  ul,li{list-style:none;}
  #slide{height:300px;position:relative;overflow:hidden;}
  #slide ul{width:400%;height:100%;transition:1s;}
  #slide ul:after{content:"";display:block;clear:both;}
  #slide li{float:left;width:25%;height:100%;}
  #slide li:nth-child(1){background:#faa;}
  #slide li:nth-child(2){background:#ffa;}
  #slide li:nth-child(3){background:#faF;}
  #slide li:nth-child(4){background:#aaf;}
  #slide input{display:none;}
  #slide label{display:inline-block;vertical-align:middle;width:10px;height:10px;border:2px solid #666;background:#fff;transition:0.3s;border-radius:50%;cursor:pointer;}
  #slide .pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}
  #pos1:checked~ul{margin-left:0%;}
  #pos2:checked~ul{margin-left:-100%;}
  #pos3:checked~ul{margin-left:-200%;}
  #pos4:checked~ul{margin-left:-300%;}
  #pos1:checked~.pos>label:nth-child(1){background:#666;}
  #pos2:checked~.pos>label:nth-child(2){background:#666;}
  #pos3:checked~.pos>label:nth-child(3){background:#666;}
  #pos4:checked~.pos>label:nth-child(4){background:#666;}
  
#mainboard{margin:20px; border-top:solid #cccccc 0.2px;}

.graph { 
        position: relative; /* IE is dumb */
        width: 250px; 
        border: 1px solid #B1D632; 
        padding: 2px; 
		font-size:11px;
		font-family:tahoma;
		margin-bottom:3px;
    }
    .graph .bar { 
        display: block;
        position: relative;
        background: #B1D632; 
        text-align: center; 
        color: #333; 
        height: 2em; 
        line-height: 2em;            
    }
    .graph .bar span { position: absolute; left: 1em; }